<div id="info-display" class="info-display" style="display: none;">
  <h2>Additional Information</h2>
  <p>This is where you can provide more details about the product or any other relevant information.</p>
  <button id="close-info" class="close-info">Close</button>
</div>